.content {
    margin-left: 20px;
}

.scrumboard {
    margin-top: 20px;
}

.scrumboard .col-md-4{
    border-right: 1px solid grey;
}

.scrumboard .todostories, .scrumboard .openstories, .scrumboard .donestories {
    height: 1200px;
} 

#scrumboard #addstoryview {
    display: none;
    width: 400px;
    position: absolute;
    top: 20px;
    background-color: white;
    border: 1px solid grey;
    padding: 20px;
    left: 20px;
}

.story {
    border: 1px solid grey;
    padding: 20px;
}