.content {
    margin-left: 20px;
}

.scrumboard {
    margin-top: 20px;
}

.scrumboard .col-md-4{
    border-right: 1px solid grey;
}

.scrumboard .todostories, .scrumboard .openstories, .scrumboard .donestories {
    height: 300px;
} 

.scrumboard .addstoryview {
    display: none;
}