<div id="addstorycontainer">
      <div class="form-group">
        <label for="storyTitle">Title</label>
        <input type="text" class="form-control" id="storyTitle" placeholder="Enter title" value="<%=story.title %>">
      </div>
      <div class="form-group">
        <label for="storyStatus">Status</label>
        <select class="form-control" id="storyStatus">
          <option <%=story.status == 'todo' ? "selected" : ''%>>todo</option>
          <option <%=story.status == 'open' ? "selected" : ''%>>open</option>
          <option <%=story.status == 'done' ? "selected" : ''%>>done</option>
        </select>
      </div>
      <div class="form-group">
        <label for="storyEstimation">Estimation</label>
        <select class="form-control" id="storyEstimation">
          <option <%=story.estimation == '1' ? "selected" : ''%>>1</option>
          <option <%=story.estimation == '2' ? "selected" : ''%>>2</option>
          <option <%=story.estimation == '3' ? "selected" : ''%>>3</option>
          <option <%=story.estimation == '4' ? "selected" : ''%>>5</option>
          <option <%=story.estimation == '8' ? "selected" : ''%>>8</option>
        </select>
      </div>
      <div class="form-group">
        <label for="storyResponsible">Responsible</label>
        <input type="text" class="form-control" id="storyResponsible" placeholder="Enter responsible" value="<%=story.responsible %>">
      </div>
      <div class="form-group">
        <label for="storyStory">Story</label>
        <textarea class="form-control" rows="3" id="storyStory"><%=story.story %></textarea>
      </div>
      <button type="button" class="btn btn-default" id="submitStory">Edit Story</button>
      <button type="button" class="btn btn-default" id="cancel">Cancel</button>
</div>