<a href="#" id="addstory" class="btn btn-default active" role="button">Add user story</a>
<div class="container scrumboard">
  <div class="row">
      <div class="col-md-4">
          <h2>Todo</h2>
          <div class="todostories">
                 <% for(var i = 0; i < todoStories.length; i++) { 
                     var todoStory = todoStories[i];
                 %>
                    <div class="story" data-model-id="<%=todoStory.id%>">
                        <div>
                            Title: <%=todoStory.get('title')%>
                        </div>
                        <div>
                            Status: <%=todoStory.get('status')%>
                        </div>
                        <div>
                            Estimation: <%=todoStory.get('estimation')%>
                        </div>
                        <div>
                            Story: <%=todoStory.get('story')%>
                        </div>
                        <a class="editstory"><span class="glyphicon glyphicon-edit">Edit</span></a>
                        <br>
                        <a class="deletestory"><span class="glyphicon glyphicon-remove">Delete</span></a>
                    </div>
                 <% } %>
          </div>
      </div>
      <div class="col-md-4">
          <h2>In Progress</h2>
          <div class="openstories">
                 <% for(var i = 0; i < openStories.length; i++) { 
                     var openStory = openStories[i];
                 %>
                    <div class="story" data-model-id="<%=openStory.id%>">
                        <div>
                            Title: <%=openStory.get('title')%>
                        </div>
                        <div>
                            Status: <%=openStory.get('status')%>
                        </div>
                        <div>
                            Estimation: <%=openStory.get('estimation')%>
                        </div>
                        <div>
                            Story: <%=openStory.get('story')%>
                        </div>
                        <a class="editstory"><span class="glyphicon glyphicon-edit">Edit</span></a>
                        <br>
                        <a class="deletestory"><span class="glyphicon glyphicon-remove">Delete</span></a>
                    </div>
                 <% } %>
          </div>
      </div>
      <div class="col-md-4">
          <h2>Done</h2>
          <div class="donestories">
                 <% for(var i = 0; i < doneStories.length; i++) { 
                     var doneStory = doneStories[i];
                 %>
                    <div class="story" data-model-id="<%=doneStory.id%>">
                        <div>
                            Title: <%=doneStory.get('title')%>
                        </div>
                        <div>
                            Status: <%=doneStory.get('status')%>
                        </div>
                        <div>
                            Estimation: <%=doneStory.get('estimation')%>
                        </div>
                        <div>
                            Story: <%=doneStory.get('story')%>
                        </div>
                        <a class="editstory"><span class="glyphicon glyphicon-edit">Edit</span></a>
                        <br>
                        <a class="deletestory"><span class="glyphicon glyphicon-remove">Delete</span></a>
                    </div>
                 <% } %>
          </div>
      </div>
  </div>
</div>
<div id="addstoryview">
</div>